jsonschema==4.*
yamllint==1.*
ruamel.yaml==0.18.*
pandas==2.*
click==8.*
pre-commit==3.*
tabulate==0.9.*
monkeytype==23.3.*
pytest==7.*
coverage==7.*
flake8==6.*
pydocstyle==6.*
mccabe==0.7.*
isort==5.*
black==23.*
autoflake==2.*
tinytuya==1.17.*
cryptography==46.*
colorama==0.4.*
pyyaml==6.*
requests==2.*
